@import url('https://fonts.googleapis.com/css2?&family=Chivo&family=Eczar:wght@500&family=Proza+Libre:wght@500&family=Karla&family=Rubik&family=Space+Mono&family=Playfair+Display:wght@500&family=Montserrat&family=Inter&family=Roboto&family=Poppins+Slab&family=Work+Sans:wght@500&family=Nunito:wght@700;800;900&display=swap');

body {
    background-image: url("img/background.gif");
    background-repeat: repeat;
    background-size: 770px;
    /* overflow: hidden; */

    font-family: 'Nunito', sans-serif!important;
}

.picture_block {
    width: 125%;
    position: relative;
    bottom: -70px;
    left: -15px;
    transition: all 0.2s ease;
}

.big_text {
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: rgb(1, 1, 43);
    margin: 0 auto;
}

.image_container {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_container {
    padding: 20px 20px;
}

.card_zodiac {
    padding: 30px 30px;
    margin-top: 40px;
    border-radius: 18px;
    box-shadow: 0px 10px #000741;
    background-color: rgb(0, 108, 216);
    color: white;

    transition: all 0.2s ease;
}

.card_zodiac_op {
    padding: 30px 30px 0px 30px;
    margin: 40px auto;
    border-radius: 18px;
    background-color: rgb(0, 108, 216);
    transition: all 0.2s ease;
}

.card_zodiac_container p {
    font-size: 18px;
}

.zodiac_sign {
    outline: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 900;
    font-size: 40px;
    box-shadow: 0px 6px #000741;
    border: none;
    color: rgb(3, 66, 129);
    font-size: 17px;

    margin-right: 10px;
    margin-bottom: 15px;
    transition: all 0.2s ease;
}

.zodiac_sign:hover {
    background-color: rgb(255, 61, 168);
    color: white;
} 

.zodiac_sign:active {
    transform: translate(0px, 6px);
    box-shadow: 0px 0px;
    outline: none;
}

.zodiac_sign:focus {
    outline: none;
}



.big_text_card {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin: 0 auto;
}

.nickname_text {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto;
}

.other_content {
    font-weight: 900;
    line-height: 35px;
}

.description_content {
    font-weight: 800;
}

.amulet_img {
    width: 80px;
    margin: 20px;
    transition: all 0.2s ease;
}

.on_card_img {
    width: 450px!important;
    position: relative;
    bottom: 0px!important;
    right: -10%!important;
    transition: all 0.2s ease;
}

#result_container {
    display: none;
    transition: all 0.2s ease;
}

.element_tag {
    color: white;
    background : rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 800;
    white-space: nowrap;
}

.color_tag {
    color: white;
    background : rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 800;
    white-space: nowrap;
}

.fa-long-arrow-alt-right {
    margin-left: 15px;
}


.back_button {
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.664);
    background-color: rgb(27, 139, 250);
    padding: 5px 15px;
    
    border-radius: 50px;
    box-shadow: 0px 6px #020a57;
    margin: 15px 15px 0px 0px;

    transition: all 0.2s ease;
}

.back_button h4 {
    position: relative;
    top: 5px;
    font-weight: 800;
}

.back_button:active {
    outline: none;
    position: relative;
    box-shadow: none;
    top: 6px;
}

.back_button:focus {
    outline: none;
}
.back_button:hover {
    background-color: rgb(8, 112, 216);
    color: white;
}

.button_1 {
    height: 48px;
}


  /*------- Scrollbar --------------*/
  body::-webkit-scrollbar {
    width: 0.6rem!important;
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #bebebe!important;
    border-radius: 50px;
  }

  #intro_panel, #result_container {
      transition: all 0.3s ease;
      animation: slideUp 0.3s;
  }

  @keyframes slideUp {
      0% {
          position: relative;
          top: 10px;
      }
      100% {
          position: relative;
          top: 0px;
      }
  }

  /*------- Scrollbar --------------*/
  .warm {
      background-color: rgb(255, 83, 71);
      color: rgb(29, 11, 10);
  }

  .pink {
      background-color: rgb(255, 70, 110);
      color: rgb(29, 10, 15);
  }

  .twilight {
      background-color: rgb(255, 158, 78);
      color: rgb(29, 19, 10);
  }

  .aqua {
      background-color: rgb(8, 112, 216);
      color: rgb(1, 1, 43);
  }